@import "open-props/style";

html {
    font-family: 'Source Serif Pro', serif;
}

body {
    background: var(--sand-1);
}

header h1 {
    text-align: center;
}

main {
    width: 90vw;
    max-width: 900px;
    margin: auto;
}

ul.regular {
    list-style: inside;
    list-style-type: disc;
    padding-inline-start: var(--size-2);
}
