@import "open-props/style";

:root {
    --font-serif: 'Source Serif Pro', serif;
    --font-sans: 'Neue Haas Grotesk Display Pro', sans-serif;
}

html {
    font-family: var(--font-serif);
}

body {
    background: var(--sand-1);
    font-size: 120%;
}

header h1 {
    text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 2rem;
}

main {
    width: 90vw;
    max-width: 900px;
    margin: auto;
}

button,
.btn {
    padding: var(--size-2) var(--size-3);
    background: var(--sand-4);
    color: var(--sand-10);
    font-family: var(--font-sans);
    text-decoration: none;
    border-radius: var(--radius-1);
}

button:hover,
.btn:hover {
    color: var(--cyan-9);
    outline-width: 4px;
    outline-color: var(--cyan-9);
    outline-style: solid;
}

.quote {
    margin: 0;
    background: var(--sand-2);
    padding: var(--size-1) var(--size-3);
    border-radius: var(--radius-2);
    font-size: var(--size-4);
    color: var(--gray-12);

}

.quote figcaption,
.quote blockquote {
    margin: 1em;
}

code {
    padding: var(--size-1);
    outline: 1px solid white;
    outline-style: dashed;
    border-radius: var(--size-1);
}
